

<div [formGroup]="formulario" class="container padre">
  <h1 class="hijo">ChatGPT Text Editor</h1>
  <h3 class="hijo">Este es mi intento de un editor de texto ayudado por ChatGPT</h3>
  <div class="hijo">
    <span>Preguntale algo que te ayude a generar algún documento</span>
    <div class="hijo">
      <input class="form-control" type="text" formControlName="pregunta">
      <button type="button" class="btn btn-primary mt-3" (click)="preguntar()">Preguntar</button>
    </div>
    <div class="hijo">
      <div>
        <span>Aquí está tu respuesta: </span>
      </div>
      <div>
        {{respuestaChatGPT}}
      </div>
    </div>
  </div>
  <angular-editor class="mt-5" formControlName="htmlContent" [config]="config"></angular-editor>
  <button type="button" class="btn btn-success hijo" (click)="exportarPDF()">Exportar</button>
</div>

<div class="container">
  <div id="pdfTable" #pdfTable="" >
    <div class="oculto">
      {{formulario.get('htmlContent').value}}
    </div>
  </div>
</div>

